 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Risk Management: A Helicopter View</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-sm btn-outline">Start
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <p> </p>
                </div>
                <div class="col-lg-6">
                    <blockquote>
                        <p>
                         If risk is properly dispersed, shocks to the overall economic system will be better absorbed and less likely to create cascading failures that could threaten financial stability.
                        </p>
                        <footer><cite title="Alan Greenspan">Alan Greenspan</cite></footer>
                    </blockquote>
                    <p>In a world that is increasingly driven by risk management concepts and technologies, we need to make sure we are at least as literate in the language of risk as we are in the language of reward...let's get started.</p>
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Alan_Greenspan_color_photo_portrait.jpg" width="200" height=200 alt="">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-sm btn-outline">Start
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
             </div>
        </div>
    </section>
